---
interface Props {
	link?: string;
	thumbnail: string;
	thumbnail_alt: string
	title: string;
	tone: string;
	date: string;
	centered?: string;
}

import { Image } from "astro:assets";
const { link, thumbnail, thumbnail_alt, title, tone, date, centered } = Astro.props;
---

<a href={link} class="blog-image-wrapper" data-centered={centered}>
	<article>
		<Image src={thumbnail} class="blog-image" alt={thumbnail_alt} width={1600} height={700} data-centered={centered} loading="eager" />
		<div class="blog-info-wrapper" data-centered={centered}>
			<div class="blog-visible-container" data-centered={centered}>
				<h1 class="blog-title">{title}</h1>
				<span class="blog-info">{tone} • {date}</span>
				{!centered && <span class="button blog-cta">Read More</span>}
			</div>
		</div>
	</article>
</a>

<style>
.blog-image-wrapper {
	position: relative;
	width: 100%;
	height: 700px;
	border-radius: var(--secondary-border-radius);
	outline-color: var(--primary);
	transition: box-shadow 0.3s, outline 0.3s;
}
	
	.blog-image-wrapper:not([data-centered="true"]):hover, .blog-image-wrapper:not([data-centered="true"]):focus {
		box-shadow: 0px 0px 20px 5px var(--primary);
		outline: 5px solid var(--primary);
	}

	.blog-image {
		width: 100%;
		background-position: center;
		border-radius: var(--secondary-border-radius);
		object-fit: cover;
	}
	
	.blog-info-wrapper {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		left: 0;
		gap: 20px;
		width: 100%;
		height: 100%;
	}
	
		.blog-info-wrapper[data-centered="true"] {
			left: 0;
			width: 100%;
			flex-direction: column-reverse;
		}

		.blog-visible-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			gap: 5px;
			padding: 25px;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 0 0 var(--secondary-border-radius) var(--secondary-border-radius);
		}

			.blog-visible-container[data-centered="true"] {
				height: 100%;
				justify-content: center;
				border-radius: var(--secondary-border-radius);
				background-color: rgba(0, 0, 0, 0.7);
			}

			.blog-title { font-size: clamp(1.3rem, 2.8vw, 3rem); width: fit-content; }

			.blog-info {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: clamp(0.9rem, 1.5vw, 1.3rem);
				width: fit-content;
			}

			.blog-cta {
				display: none;
			}

@media (min-width: 1300px) {
	.blog-image-wrapper { padding: 0; }
}

@media (max-width: 1200px) {
	.blog-image-wrapper { height: 500px; }
	.blog-image { height: 500px; }
	.blog-info-wrapper { height: 500px; }
}

@media (max-width: 1000px) {
	.blog-image-wrapper { padding: 0; width: 100%; }

		.blog-image { 
			height: 500px;
			border-radius: 0;
		}

			.blog-info-wrapper {
				width: 100%;
				padding: 0;
				align-items: center;
				text-align: center;
			}

				.blog-visible-container { gap: 12px; }
				.blog-visible-container[data-centered="true"] { border-radius: 0; }

				.blog-title { width: 80%; }	
				.blog-cta { display: block; }
}
</style>