---
interface Props {
	src: string;
	alt: string;
	width?: number;
	height?: number;
	crop_height?: number;
	crop_position?: string; // Add this line
}

import { Image } from 'astro:assets'

const { src, alt, width, height, crop_height, crop_position } = Astro.props
---

<div class=`image-wrapper ${crop_height ? 'crop' : ''}` style=`height: ${crop_height}px;`>
	<Image src={src} alt={alt} width={width} height={height} style=`object-position: ${crop_position};`/>
</div>

<style is:inline>
	.image-wrapper {
		display: flex;
		justify-content: center;
		max-width: 100%;
		max-height: 100%;
	}

	.image-wrapper img {
		object-fit: cover;
		max-width: 100%;
		border-radius: var(--secondary-border-radius);
	}
</style>